	@charset "UTF-8";
/* CSS Document */

body{
	margin:0;
	border:0;
	font-weight:400;
	font-family: 'Quicksand', sans-serif;
	font-size:14px;
	line-height:18px;
	color:#202020;
	background: #591b2a;
	-webkit-font-smoothing: antialiased;
  	-moz-osx-font-smoothing: grayscale;
}
img{
	-ms-interpolation-mode: bicubic;
}

h2{
	font-size:24px;
	line-height:28px;
	margin: 10px auto;
	font-weight:bold;
}
h3{
	font-size:22px;
	line-height:26px;
	margin:10px auto;
	font-weight:bold;
}
h4{
	font-size:20px;
	line-height:24px;
}
h5{
	font-size:15px;
	line-height:19px;
	-webkit-font-smoothing: antialiased;
  	-moz-osx-font-smoothing: grayscale;
}
h6{
	font-size:14px;
	line-height:16px;
}
p{
	font-size:16px;
	line-height:20px;
}
.citas-buttons {
    padding: 0px !important;
}
blockquote{
    margin: 20px auto 20px;
    padding: 0px;
    border: none;
}
blockquote p{
	font-weight:bold;
	color:#008f9f;
}
ul{
	margin:0 auto 10px;
}
ol{
	margin:0 auto 10px;
	padding: 0px 15px;
}
ul li{
	font-size: 16px;
    line-height: 20px;
}
ol li{
	list-style: decimal;
	font-size: 16px;
    line-height: 20px;
}
strong{
	font-weight:700;
}
a{
	color:#606060;
	outline:none !important;
	cursor:pointer;
}
a:hover{
	text-decoration:none;
	opacity:0.6;
}
button:hover{
	opacity:0.6;
}


/*** ESTILOS GUÃA ***/

.t-a-c{
	text-align:center;
}
.t-a-l{
	text-align:left;
}
.t-a-r{
	text-align:right;
}
.t-a-j{
	text-align:justify;
}
.width-1500{
	margin:0 auto;
	max-width:1500px;
	width:100%;
}
.width-1400{
	margin:0 auto;
	max-width:1400px;
	width:100%;
}
.width-1360{
	margin:0 auto;
	max-width:1360px;
	width:100%;
}
.width-1280{
	margin:0 auto;
	max-width:1280px;
	width:100%;
}
.width-1200{
	margin:0 auto;
	max-width:1200px;
	width:100%;
}
.width-1280-header{
	margin:0 auto;
	max-width:1280px;
	width:95%;
}
.width-1100{
	margin:0 auto;
	max-width:1100px;
	width:100%;
}
.width-1000{
	margin:0 auto;
	max-width:1000px;
	width:100%;
}
.width-1000-contactanos{
	margin:0 auto;
	max-width:1000px;
	width:100%;
}
.width-800{
	margin:0 auto;
	max-width:800px;
	width:100%;
}
.width-600{
	margin:0 auto;
	max-width:600px;
	width:100%;
}
.width-360{
	margin:0 auto;
	max-width:360px;
	width:100%;
}
.width-300{
	margin:0 auto;
	max-width:300px;
	width:100%;
}
.width-all{
	width:100%;
}
.fondo-azul{
	background:#1f2a5b;
}
.fondo-morado{
	background:#6f0828;
}
.fondo-blanco{
	background:#ffffff;
}
.fondo-gris{
	background:#f3f3f3;
}

.color-blanco{
	color:#ffffff;
}
.color-gris{
	color:#7a7a7a;
}
.color-azul{
	color:#121b43;
}
.color-celeste{
	color:#59bcc9;
}

.sombra-bloque{
	-webkit-box-shadow: 0px 0px 12px 0px rgba(0,0,0,0.2);
	-moz-box-shadow: 0px 0px 12px 0px rgba(0,0,0,0.2);
	box-shadow: 0px 0px 12px 0px rgba(0,0,0,0.2);
}

.p-r{
	position:relative;
}
.p-a{
	position:absolute;
}
.p-f{
	position:fixed;
}
.d-i{
	display:inline;
}
.d-i-b{
	display:inline-block !important;
}
.v-a-t{
	vertical-align:top;
}
.v-a-m{
	vertical-align:middle;
}
.v-a-b{
	vertical-align:bottom;
}

.p-0-0{
	padding:0px 0px;
}
.p-12{
	padding: 12px;
}
.p-10-0{
	padding:10px 0px;
}
.p-20-0{
	padding:20px 0px;
}
.p-20{
	padding:20px;
}
.p-30-0{
	padding:30px 0px;
}
.p-30{
	padding:30px;
}
.p-40-0{
	padding:40px 0px;
}
.p-40{
	padding:40px;
}
.p-50-0{
	padding:50px 0px;
}
.p-60-0{
	padding:60px 0px;
}


.m-0-auto{
	margin:0 auto;
}
.m-10-auto{
	margin:10px auto;
}
.m-20-auto{
	margin:20px auto;
}
button.bt-caja{border:0px;}

.bt-caja{
	color: #ffffff !important;
	font-weight:700;
    padding: 8px 16px;
    display: inline-block;
    margin: 4px auto !important;
    text-decoration: none !important;
    cursor: pointer;
    background: #ffc600;
    width: auto !important;
    min-width: 100px !important;
    border-radius:10px;
    text-align: center;
}
.bt-caja-azul{
	color: #ffffff !important;
	font-weight:700;
    padding: 8px 16px;
    display: inline-block;
    margin: 4px auto !important;
    text-decoration: none !important;
    cursor: pointer;
    background: #1f2a5b;
    width: auto !important;
    min-width: 140px !important;
    max-width: 200px !important;
	border-radius:10px;
}
.bt-caja-white {
    color: #4d4d4d;
    font-weight: 700;
    padding: 8px 12px;
    display: inline-block;
    margin: 4px auto !important;
    text-decoration: none !important;
    cursor: pointer;
    background: #ffffff;
    width: 90% !important;
    max-width: 280px !important;
    border-radius: 10px;
}
.bt-caja-morado {
    color: #ffffff;
    font-weight:700;
    padding: 8px 16px;
    display: inline-block;
    margin: 4px auto !important;
    text-decoration: none !important;
    cursor: pointer;
    background: #6f0828;
    width: auto !important;
    min-width: 140px !important;
    max-width: 200px !important;
	border-radius:10px;
}
hr{ 
   height: 5px;
    background-color: #ffc708;
    width: 160px;
    margin: 10px auto 20px 0px;
    border: 0px;
}
 
.titles-lyl.ing-notas {
    text-align: left;
    margin: 23px 0;
    font-size: 17px;
    font-weight: bold;
    color: #8b8b8b;
    padding-left: 68px;
    line-height: 57px;
    background: url(../images/calificaciones/ico-califica.png);
    background-repeat: no-repeat;
    background-position: left center;
    background-size: contain;
    position: relative;
}
.nombre-notas {
    text-align: left;
        padding-left: 5px;
}
img.img-alumnotas {
    max-height: 40px;
    margin-right: 10px;
}
span.back-lyl {
    position: absolute !important;
    left: 0;
    padding: 0 20px !important;
    font-size: 18px;
    text-transform: lowercase;
}
span.back-lyl a:before {
    content: "";
    position: absolute;
    top: 8px;
    left: 0;
    width: 0;
    height: 0;
    border-width: 5px;
    border-style: solid;
    border-color: transparent #606060 transparent transparent;
}
span.back-lyl a:hover:before {
    border-color: transparent #1f2a5b transparent transparent;
}
span.back-lyl a:hover {
    color: #1f2a5b !important;
    opacity: 1;
}
.nt-table input[type="text"] {
    width: 100%;
    text-align: center;
    color: #666666;
    font-weight: bold;
    border: 0;
    background: inherit;
    padding: 0;
}
.name-wrapper .profesion {
    font-weight: 900;
}
.name-wrapper .name, .name-wrapper .profesion {
    margin: 0;
}
.name-wrapper {
    margin-left: 15px;
}
.selector {
    margin-bottom: 12px;
}
.color-azul {
    color: #121b43;
}
.color-gris {
    color: #7a7a7a;
}
.select-lyl {
    background: #f3f3f3;
    color: #7a7a7a;
    margin: 0;
    font-size: 14px;
    appearance: default !important;
    -webkit-appearance: menulist !important;
    -moz-appearance: menulist !important;
}
.col.promed span{
    border-radius: 50%;
    background: #68729d;
    color: #fff;
    width: 46px;
	height:46px;
    position: relative;
    z-index: 10;
    margin:auto;
    padding: 0;
    display: block;
}
.col.promed:After {
    background: #fff;
    content: '';
    width: 45px;
    height: 54px;
    display: block;
    position: absolute;
    right: 0;
    top: -1px;
}
.row.content-notas:nth-child(2n+1) .col.promed span{
    background: #ffffff;
    border: 1px solid #68729d;
    color: #666666;
}
.row.content-notas:nth-child(2n+1) .promed span:after {
    border: 1px solid #68729d;
           width: 38px;
    height: 38px;
}
.col.promed span:after {
    content: '';
    width: 40px;
    height: 40px;
    display: block;
    position: absolute;
    top: 3px;
    left: 3px;
    border: 1px solid #fff;
    border-radius: 50%;
}
.content-notas > div {
    color: #666666;
    font-weight: bold;
}
.head-notas {
    margin-bottom: 20px;
}
.content-notas {
    background: #ececec;
    line-height: 46px;
    border-top: 1px solid #dadada;
    border-bottom: 1px solid #dadada;
    margin-bottom: 3px;
}
.row.content-notas:nth-child(2n+1) {
    background: #fff;
}
.head-notas > div {padding-top: 38px;}
.col.img-nt {
    background: url(../images/calificaciones/ico-nota.png);
    background-repeat: no-repeat;
    background-position: top center;
    background-size: 35px;
    position: relative;
    padding-top: 38px;
}
.container-carganotas {
    padding-top: 30px;
}
.titles-lyl.ing-notas:before {
    position: absolute;
    content: '';
    width: 100%;
    height: 2px;
    background: #e7e7e7;
    bottom: -15px;
    left: 0px;
}
.padding-center {
    padding: 15px 5px;
}