/*! Pushy - v1.1.0 - 2017-1-30
* Pushy is a responsive off-canvas navigation menu using CSS transforms & transitions.
* https://github.com/christophery/pushy/
* by Christopher Yee */
/* Menu Appearance */
.pushy {
  position: fixed;
  width: 260px;
  height: 100%;
  top: 0;
  z-index: 99999;
  background: #ffffff;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  font-weight: bold;
  /* enables momentum scrolling in iOS overflow elements */
}
.pushy a {
  display: block;
  padding: 12px 20px;
  margin: 0px 0px;
  text-decoration: none;
  text-align: left;
}
.pushy a:hover {
}

.pushy-link{
	padding:16px 2px;
	border-bottom: 1px solid #dadada;
}
.pushy-submenu .pushy-link{
	border-bottom: none;
}
.pushy-submenu .pushy-link a{
	color: #121b43 !important;
}
.pushy-submenu li.pushy-link{
	list-style:square;
	color:#121b43;
	padding: 6px 0px;
    margin: 6px auto;
}
.pushy-link a{
	padding: 0px !important;
	color:#121b43 !important;
}
.pushy ul{
	list-style:none;
	padding: 0px 0px 0px 0px !important;
	margin: 0 auto;
}
.pushy ul:first-child {
  margin-top: 10px;
}
.pushy.pushy-left {
  left: 0;
}
.pushy.pushy-right {
  right: 0;
}

.pushy-content {
  visibility: hidden;
  text-align:center;
  padding: 20px;
}

/* Menu Movement */
.pushy-left {
  -webkit-transform: translate3d(-260px, 0, 0);
  -ms-transform: translate3d(-260px, 0, 0);
  transform: translate3d(-260px, 0, 0);
}

.pushy-open-left #page,
.pushy-open-left .push {
  -webkit-transform: translate3d(260px, 0, 0);
  -ms-transform: translate3d(260px, 0, 0);
  transform: translate3d(260px, 0, 0);
}

.pushy-right {
  -webkit-transform: translate3d(260px, 0, 0);
  -ms-transform: translate3d(260px, 0, 0);
  transform: translate3d(260px, 0, 0);
}

.pushy-open-right #page,
.pushy-open-right .push {
  -webkit-transform: translate3d(-260px, 0, 0);
  -ms-transform: translate3d(-260px, 0, 0);
  transform: translate3d(-260px, 0, 0);
}

.pushy-open-left .pushy,
.pushy-open-right .pushy {
  -webkit-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
.pushy-open-left .pushy-content,
.pushy-open-right .pushy-content {
  visibility: visible;
}

/* Menu Transitions */
#page,
.pushy,
.push {
  transition: transform 0.2s cubic-bezier(0.16, 0.68, 0.43, 0.99);
}

.pushy-content {
  transition: visibility 0.2s cubic-bezier(0.16, 0.68, 0.43, 0.99);
}

/* Site Overlay */
.site-overlay {
  display: none;
}

.pushy-open-left .site-overlay,
.pushy-open-right .site-overlay {
  display: block;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 99998;
  background-color: rgba(0, 0, 0, 0.5);
  -webkit-animation: fade 500ms;
  animation: fade 500ms;
}

@keyframes fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
/* Submenu Appearance */
.pushy-submenu {
  /* Submenu Buttons */
  /* Submenu Icon */
}
.pushy-submenu ul {
  padding: 0px 20px !important;
  transition: max-height 0.2s ease-in-out, visibility 0.2s ease-in-out;
}
.pushy-submenu ul .pushy-link {
  transition: opacity 0.2s ease-in-out;
}
.pushy-submenu button {
  width: 100%;
  color: #121b43;
  padding: 16px 2px;
  text-align: left;
  background: transparent;
  border: 0;
  border-bottom: 1px solid #dadada;
  font-weight:bold;
}
.pushy-submenu button:hover {
  color: #121b43;
}
.pushy-submenu > a,
.pushy-submenu > button {
  position: relative;
  outline: none;
}

/* Submenu Movement */
.pushy-submenu-closed ul {
  max-height: 0;
  overflow: hidden;
  visibility: hidden;
}
.pushy-submenu-closed .pushy-link {
  opacity: 0;
}

.pushy-submenu-open {
  /* Submenu Icon */
}
.pushy-submenu-open ul {
  max-height: 1000px;
  visibility: visible;
  border-bottom: 1px solid #dadada;
}
pushy-submenu ul {
      padding: 0px 20px;
}
.pushy-submenu .pushy-link {
  opacity: 1;
  text-align: left !important;
  padding: 10px 0px;
}
.pushy-submenu-closed{
	position:relative;
}
.pushy-submenu-closed::before{
	position: absolute;
    right: 0px;
    content: '>';
    color: #575757;
	transform:rotate(90deg);
    top: 12px;
    font-size: 16px;
    line-height: 16px;
    padding: 4px 10px 0px;
    font-weight: bold;
    font-family: 'Istok Web', sans-serif;
}
.pushy-submenu-open{
	position:relative;
}
.pushy-submenu-open::before{
	position: absolute;
    right: 0px;
    content: '>';
	transform:rotate(-90deg);
    color: #575757;
    top: 12px;
    font-size: 16px;
    line-height: 16px;
    padding: 4px 10px 0px;
    font-weight: bold;
    font-family: 'Istok Web', sans-serif;
}



.pushy-submenu-open a::after,
.pushy-submenu-open button::after {
  -webkit-transform: translateY(-50%) rotate(90deg);
  -ms-transform: translateY(-50%) rotate(90deg);
  transform: translateY(-50%) rotate(90deg);
}

/*# sourceMappingURL=pushy.css.map */
